<!DOCTYPE html>
<html lang="ja">
<head>
 <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/Tenakskd/punycoder-pass-test/refs/heads/main/templates/IMG_0305.png">
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/Tenakskd/punycoder-pass-test/refs/heads/main/templates/IMG_0305.png" type="image/png">
    <link rel="apple-touch-icon" sizes="256x256" href="https://raw.githubusercontent.com/Tenakskd/punycoder-pass-test/refs/heads/main/templates/IMG_0305.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://raw.githubusercontent.com/Tenakskd/punycoder-pass-test/refs/heads/main/templates/IMG_0305.png">
    <link rel="apple-touch-icon" sizes="32x32" href="https://raw.githubusercontent.com/Tenakskd/punycoder-pass-test/refs/heads/main/templates/IMG_0305.png">
    <link rel="apple-touch-icon" sizes="16x16" href="https://raw.githubusercontent.com/Tenakskd/punycoder-pass-test/refs/heads/main/templates/IMG_0305.png">
    <title>Encord</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    現在のapiサーバー<br>
    Youtube-API:{{Youtube_API}}<br>
    Channel-API:{{Channel_API}}<br>
    Comments-API:{{Comments_API}}<br>
    <script>setTimeout(function (){location.reload();},5000)</script>
</body>
</html>
